html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body{
    background-color: #FAFAF6;
  }

.sitenav{
    height: 100px;
    background-color: #FAFAF6;
    color: #031926;
    padding-right:60px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", "Arial", sans-serif;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav_buttons{
    display: block;
    padding: 20px;
    float: right;
    cursor: pointer;

}

.nav_buttons:hover{
    text-decoration: underline;
}

p{
    font-size: 18px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", "Arial", sans-serif;
    color: #031926;
}

.nav{
    padding-top: 82px;
    padding-bottom:32px;
}

.navblock{
        height: 10px;
        width: 10px;
        background-color: #93B5C6;
        margin: 10px;
        margin-top: 17px;
        transition: transform 2s;
}

.spinblock{
    transform: rotate(720deg);

}

.nav-item a{
    font-size: 18px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", "Arial", sans-serif;
    color: #031926;
}

.jumbotron{
    display: flex;
    height: 380px;
    background-color: #93B5C6;
}

.headblock{
    height: 30px;
    width: 30px;
    background-color: #BD4F6C;
    margin: 23px;
    margin-left: 30px;
    margin-right: 30px;
    transition: transform 2s;
}

.jumbotron p{
    font-size: 16px;
}

.jumbotron img{
    height: 430px;
    position: relative;
    top: -105px;
    margin: 20px;
}

/**/

.section-header{
    background-color: #F0CF65;
    height: 75px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

h1{
    font-family: "Khmer MN", "Ogirema", "Times Sans Serif", sans-serif;
}

h2{
    font-size: 18px;
    font-weight: bold;
    margin: 40px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", "Arial", sans-serif;
}

.centered{
    text-align: center;
}

h2{
    text-align: center;
}

.description .card-text{
    width: auto;
    text-align: center;
}


.description p{
    width: 500px;
    margin-left:auto;
    margin-right:auto;
}

.lists{
    width: 500px;
    margin-left:auto;
    margin-right:auto;
    font-size: 20px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", "Arial", sans-serif;
    color: #031926;
}

.spanpage{
    width: 100%;
    z-index: 0;
}

.row{
    display: flex;
    align-items: flex-end;
    background-color: white;
    height:auto;
}
.card{
    border: none;
}

#research .card{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.card-title{
    text-align: left !important;
}

#research .card img{
    height: 100px;
    width: 100px;
}

#research .card p{
    font-size: 14px;
}

#ideation .card-text{
    font-size: 15px;
}


#ideation .card-body{
    padding: 0px;
    padding-top: 15px;
}

#ideation .card img{
    width: 100%;
    height: 100%;
}


.card-title{
    font-weight: bold;
}

#ideation .card p{
    text-align: left;
}

#ideation .card{
    padding-top: 30px;
}

.empathymap{
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: space-around;
}

.empathymap p{
    font-size: 10px;
}

.empathymap img{
    height: 600px;
}



.gif{
    height: 400px;
}

.final{
    display: flex;
    align-items: center;
    justify-content: center;
}

.lists{
    font-size: 18px;
}



/*Footer*/

footer{
    background-color:#93B5C6;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    margin-top: 50px;
    }
    
    footer img{
        height: 60px;
        padding-bottom:25px;
    }
    
    footer p{
        font-size: 16px;
        text-align: center;
        line-height: 23px;
    }
    
    footer h2{
        font-size: 30px;
        font-family: "Khmer MN", "Ogirema", "Times Sans Serif", sans-serif;
        color: #031926;
        margin: 0px; 
    }






    @keyframes spinning{
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(720deg);
        }
      }



@media only screen and (max-width: 900px){

    /* navigation */

    .sitenav{
        padding-right:0px;
        padding-left:0px;
        display: flex;
        justify-content: center;
        height: 70px;
    }
    
    .nav_buttons{
        padding-top: 20px;
        text-align: center;
    }
}